<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>753044154093-ug6sfencvd3aokmnhttk5a9ras3r1u6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753044154093-ug6sfencvd3aokmnhttk5a9ras3r1u6l</string>
	<key>API_KEY</key>
	<string>AIzaSyACfPmvQgjgAoKYmNWciQ9nMzyrYw59Ffo</string>
	<key>GCM_SENDER_ID</key>
	<string>753044154093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MikeMaguire.FIFA-Tracker</string>
	<key>PROJECT_ID</key>
	<string>fifa-tracker-b154c</string>
	<key>STORAGE_BUCKET</key>
	<string>fifa-tracker-b154c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:753044154093:ios:014af3c11af3b75c</string>
	<key>DATABASE_URL</key>
	<string>https://fifa-tracker-b154c.firebaseio.com</string>
</dict>
</plist>